@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800;900;style=italic,normal');


body {

	font-family: Nunito, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #101820;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: .03rem;
	line-height: 1.5;
	margin: 0;
	overflow: auto;
	padding: 0;
	text-rendering: optimizeLegibility
}



.page-content{
	line-height: 1.6em;
	word-wrap: break-word;
	display: block;
	letter-spacing: .05em;
	text-align: left;
	

}

p {
	font-family: Nunito, sans-serif;
	font-size: 15px;
	font-weight: 500;	
	line-height: 1.6em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Nunito, sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

.sidebar-headings {
	font-family: Nunito, sans-serif;
	font-size: 15px;
	color: #6f6f6f;
}


/**
 * Wrapper
 */
.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding-right: 0;
	padding-left: 0;
}

/* Page Styling */

.page-container {
	display: grid;
	grid-template-columns: 1fr 3fr; 
	/*grid-template-columns: 1fr minmax(300px, 4fr) 0.75fr; */
	align-items: baseline;
	justify-content: center;
	margin-right: 100px;
	margin-left: 25px;

}

.sidebar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items:flex-start;
	flex-grow: 1;
}

.sidebar-heading {
	align-self: center;

}

.sidebar-items {
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	align-self: center;


}

.right-sidebar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.right-sidebar-heading {
	align-self: center;

}

.right-sidebar-items {
	list-style: none;
	align-self: flex-start;
}