<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="page_header_top">
      <div class="page_header_logo"> <a href="../index.html" >
        <img src="../images/syndigo-university-logo.png" /></a> </div>
      <div class="page_header_top_nav">
        <div class="page-search-holder">
          <input type="text" id="query" placeholder="  Search documentation..." />
          <button type="submit">search</button>
        </div>
        <div class="page-home-img">
          <a href="../index.html"><img src="../images/home.png" /></a>
        </div>
      </div>
    </div>
   
  </div>
</header>
