<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}
{%- include header.html -%}

<link rel="stylesheet" href="{{ "./css/page-styles.css" | relative_url }}">

<body>
  <main class="page-wrapper" aria-label="Content">
    <div class="page-container">
      <aside class="sidebar">
          <div class="sidebar-headings">
          <div><a href="./sdk_interface_with_app.html">Plugin Facet to Develop New UIs</a></div>
          <div><a href="./sdk_call_external_apis_from_ui_plugins.html">Call External APIs from UI Plugins</a></div>        
        </div>
      </aside>
      <section class="page-content">
        {{ content }}
      </section>

      <!--
      <aside class="right-sidebar">
        <h2 class="right-sidebar-heading">Navigation</h2>
        <ul class="right-sidebar-items">
          <li>Heading 1</li>
          <li>sub-heading</li>
        </ul>
      </aside>
      -->
    </div>
  </main>
</body>

{%- include footer.html -%}

</html>