---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}            
   
   {{content}}

 

    <div id = "nextTag" class="tags" style="float:right">
    </div>

    <div id = "prevTag" class="tags" style="float:left">
    </div>

    <p id="next_bottom" style="float:right;"></p>  
    <p id="prev_bottom" style="float:right;padding-right:20px;"></p>  
	

 
    <div class="hidden-print">
    {% if site.disqus %}
        {% include disqus.html %}
    {% endif %}
    </div>
    {{ content }}
  </div>
</article>

